<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="./vue.js"></script>
</head>
<body>
        <div class="page-top">
            <div class="page-content">
                <h2>任务计划列表</h2>
            </div>
        </div>
        <div class="main">

            <h3 class="big-title">添加任务：</h3>
            <input 
                placeholder="例如：吃饭睡觉打豆豆；    提示：回车即可添加任务" 
                class="task-input" 
                type="text"
                v-on:keyup.enter = "addTodo"
                v-model="todo"
            />
      
            <h3 class="big-title">任务列表：</h3>
            <div class="tasks">
                <span class="no-task-tip"  v-show="!list.length" >还没有添加任何任务</span>
                <ul class="todo-list" >

                    <li class="todo" 
                        v-bind:class="{completed:item.isChecked , editing:edittingId === item.id }" 
                        v-for="item in filterTodos" 
                    >
                            <div class="view">
                                <input v-model="item.isChecked"  class="toggle" type="checkbox" />
                                <label 
                                    v-on:dblclick = "editTodo( item )"
                                > {{ item.title }} </label>
                                <button 
                                    class="destroy" 
                                    v-on:click="removeTodo( item )"
                                ></button>
                            </div>
                            <input 
                                class="edit" 
                                type="text"
                                v-model="item.title"
                                v-focus="edittingId === item.id"
                                v-on:blur="edited( item , true )"
                                @keyup.13 = "edited( item , true )"
                                @keyup.27 = "edited( item , false )"
                            />
                        </li>                    
                </ul>
            </div>

            <ul class="task-count" v-show="list.length" >
                <li>{{ unCompleted }}个任务未完成</li>
                <li class="action" >
                    <a  
                        v-bind:class="{active:show === all}"
                        href="#all">所有任务</a>
                    <a 
                        v-bind:class="{active:show === unfinished}"
                        href="#unfinished" 
                    >未完成的任务</a>
                    <a 
                        v-bind:class="{active:show === finished}"
                        href="#finished" 
                    >完成的任务</a>
                </li>
            </ul>
        </div>
    
    <script src="./app.js"></script>
</body>
</html>