ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    vertical-align: top;
}
p{
    line-height: 1.8em;
}

.sub_cont{
    width: 800px;
    margin-left: 200px;
    padding-left: 40px;
}
.cont-width{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.cotent-item{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-radius: 0;
}
.cotent-item .ivu-card-head , .part .ivu-card-head{
    padding: 14px 0;
}

.cotent-item:not(.last){ 
    border-bottom: 1px solid #e9eaec !important;
}
.cotent-item  .item-col:not(.last){
    padding-bottom: 30px;
}

/* 导航菜单样式 */
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, 
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, 
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, 
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover{
    color: #495060;
    border-bottom: 2px solid #df3235;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
    color: #495060;
    border-right: 2px solid #df3235;
}

/* card样式 */
.ivu-card:hover{
    box-shadow: none;
    }
.ivu-card-body{
    padding: 14px 0;
}
.ivu-card-extra{
    right: 0px;
}
.ivu-card-head{
    border-bottom: none;
}
.contact-us .ivu-card-head{
    border-bottom: 1px solid #dddee1;
}

/* 弹框背景 */
.video-wrap .ivu-modal-content{
    background: none;
}
.video-wrap .ivu-modal-footer{
    border: none;
}
.video-wrap .ivu-icon-ios-close-empty{
    color: #fff;
    font-size: 48px;
}
.video-wrap .ivu-modal-footer{
    display: none;
}

/* 播放器样式 */
.video-player , .video-player > div{
    width: 800px;
    height: 450px;
}
.ivu-modal-content{
    background-color: transparent;
}
.video-player .vjs-big-play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 3em;
    line-height: 3em;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-top: -1.5em;
}
button {
    outline: none;
}

/* 时间轴 */
.int .ivu-timeline-item-head{
    background: #df3235;
    border-color: #df3235;
}
.ivu-timeline-item-head{
    border-color: #bababa;
}
.line-top .ivu-timeline-item-head{
    border-color: transparent; 
}

/* pdf文件列表 */
.pdf-img{
    width: 112px;
    height: 145px;
}
/* .pdf-title::after{
    content: "...";
} */

.link{
    background: #f3f3f3;
}

.tac{text-align:center !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}

.full{height:100%;width:100%;}
.wfull{width:100%;}
.hfull{height:100%;}
.pointer{
    cursor: pointer;
}
.breakword{word-wrap:break-word;word-break:break-all;}

/*快捷补丁*/
.p2{padding:2px;}.p4{padding:4px;}.p6{padding:6px;}.p8{padding:8px;}.p10{padding:10px;}.p12{padding:12px;}.p16{padding:16px;}.p20{padding:20px;}.p24{padding:24px;}.p28{padding:28px;}.p30{padding:30px;}.p32{padding:32px;}.p36{padding:36px;}.p40{padding:40px;}.p48{padding:48px;}.p50{padding:50px;}.p56{padding:56px;}.p60{padding:60px;}.p64{padding:64px;}
.pt2{padding-top:2px;}.pt4{padding-top:4px;}.pt6{padding-top:6px;}.pt8{padding-top:8px;}.pt10{padding-top:10px;}.pt12{padding-top:12px;}.pt16{padding-top:16px;}.pt20{padding-top:20px;}.pt24{padding-top:24px;}.pt28{padding-top:28px;}.pt30{padding-top:30px;}.pt32{padding-top:32px;}.pt36{padding-top:36px;}.pt40{padding-top:40px;}.pt48{padding-top:48px;}.pt50{padding-top:50px;}.pt56{padding-top:56px;}.pt60{padding-top:60px;}.pt64{padding-top:64px;}
.pr1{padding-right:1px;}.pr2{padding-right:2px;}.pr4{padding-right:4px;}.pr6{padding-right:6px;}.pr8{padding-right:8px;}.pr10{padding-right:10px;}.pr12{padding-right:12px;}.pr16{padding-right:16px;}.pr20{padding-right:20px;}.pr24{padding-right:24px;}.pr28{padding-right:28px;}.pr30{padding-right:30px;}.pr32{padding-right:32px;}.pr36{padding-right:36px;}.pr40{padding-right:40px;}.pr48{padding-right:48px;}.pr50{padding-right:50px;}.pr56{padding-right:56px;}.pr60{padding-right:60px;}.pr64{padding-right:64px;}
.pb2{padding-bottom:2px;}.pb4{padding-bottom:4px;}.pb6{padding-bottom:6px;}.pb8{padding-bottom:8px;}.pb10{padding-bottom:10px;}.pb12{padding-bottom:12px;}.pb16{padding-bottom:16px;}.pb20{padding-bottom:20px;}.pb24{padding-bottom:24px;}.pb28{padding-bottom:28px;}.pb30{padding-bottom:30px;}.pb32{padding-bottom:32px;}.pb36{padding-bottom:36px;}.pb40{padding-bottom:40px;}.pb48{padding-bottom:48px;}.pb50{padding-bottom:50px;}.pb56{padding-bottom:56px;}.pb60{padding-bottom:60px;}.pb64{padding-bottom:64px;}
.pl1{padding-left:1px;}.pl2{padding-left:2px;}.pl4{padding-left:4px;}.pl6{padding-left:6px;}.pl8{padding-left:8px;}.pl10{padding-left:10px;}.pl12{padding-left:12px;}.pl16{padding-left:16px;}.pl20{padding-left:20px;}.pl24{padding-left:24px;}.pl28{padding-left:28px;}.pl30{padding-left:30px;}.pl32{padding-left:32px;}.pl36{padding-left:36px;}.pl40{padding-left:40px;}.pl48{padding-left:48px;}.pl50{padding-left:50px;}.pl56{padding-left:56px;}.pl60{padding-left:60px;}.pl64{padding-left:64px;}
.ptb2{padding-top:2px;padding-bottom:2px;}.ptb4{padding-top:4px;padding-bottom:4px;}.ptb6{padding-top:6px;padding-bottom:6px;}.ptb8{padding-top:8px;padding-bottom:8px;}.ptb10{padding-top:10px;padding-bottom:10px;}.ptb12{padding-top:12px;padding-bottom:12px;}.ptb16{padding-top:16px;padding-bottom:16px;}.ptb20{padding-top:20px;padding-bottom:20px;}.ptb24{padding-top:24px; padding-bottom:24px;}.ptb28{padding-top:28px;padding-bottom:28px;}.ptb30{padding-top:30px;padding-bottom:30px;}.ptb32{padding-top:32px;padding-bottom:32px;}.ptb36{padding-top:36px;padding-bottom:36px;}.ptb40{padding-top:40px;padding-bottom:40px;}.ptb48{padding-top:48px;padding-bottom:48px;}.ptb50{padding-top:50px;padding-bottom:50px;}.ptb56{padding-top:56px;padding-bottom:56px;}.ptb60{padding-top:60px;padding-bottom:60px;}.ptb64{padding-top:64px;padding-bottom:64px;}
.prl1{padding-right:1px;padding-left:1px;}.prl2{padding-right:2px;padding-left:2px;}.prl4{padding-right:4px;padding-left:4px;}.prl6{padding-right:6px;padding-left:6px;}.prl8{padding-right:8px;padding-left:8px;}.prl10{padding-right:10px;padding-left:10px;}.prl12{padding-right:12px;padding-left:12px;}.prl16{padding-right:16px;padding-left:16px;}.prl20{padding-right:20px;padding-left:20px;}.prl24{padding-right:24px; padding-left:24px;}.prl28{padding-right:28px;padding-left:28px;}.prl30{padding-right:30px;padding-left:30px;}.prl32{padding-right:32px;padding-left:32px;}.prl32{padding-right:36px;padding-left:36px;}.prl40{padding-right:40px;padding-left:40px;}.prl48{padding-right:48px;padding-left:48px;}.prl50{padding-right:50px;padding-left:50px;}.prl56{padding-right:56px;padding-left:56px;}.prl60{padding-right:60px;padding-left:60px;}.prl64{padding-right:64px;padding-left:64px;}

.mt2{margin-top:2px;}.mt4{margin-top:4px;}.mt6{margin-top:6px;}.mt8{margin-top:8px;}.mt10{margin-top:10px;}.mt12{margin-top:12px;}.mt16{margin-top:16px;}.mt20{margin-top:20px;}.mt24{margin-top:24px;}.mt28{margin-top:28px;}.mt30{margin-top:30px;}.mt32{margin-top:32px;}.mt36{margin-top:36px;}.mt40{margin-top:40px;}.mt48{margin-top:48px;}.mt50{margin-top:50px;}.mt56{margin-top:56px;}.mt60{margin-top:60px;}.mt64{margin-top:64px;}
.mr2{margin-right:2px;}.mr4{margin-right:4px;}.mr6{margin-right:6px;}.mr8{margin-right:8px;}.mr10{margin-right:10px;}.mr12{margin-right:12px;}.mr16{margin-right:16px;}.mr20{margin-right:20px;}.mr24{margin-right:24px;}.mr28{margin-right:28px;}.mr30{margin-right:30px;}.mr32{margin-right:32px;}.mr36{margin-right:36px;}.mr40{margin-right:40px;}.mr48{margin-right:48px;}.mr50{margin-right:50px;}.mr56{margin-right:56px;}.mr60{margin-right:60px;}.mr64{margin-right:64px;}
.mb2{margin-bottom:2px;}.mb4{margin-bottom:4px;}.mb6{margin-bottom:6px;}.mb8{margin-bottom:8px;}.mb10{margin-bottom:10px;}.mb12{margin-bottom:12px;}.mb16{margin-bottom:16px;}.mb20{margin-bottom:20px;}.mb24{margin-bottom:24px;}.mb28{margin-bottom:28px;}.mb30{margin-bottom:30px;}.mb32{margin-bottom:32px;}.mb36{margin-bottom:36px;}.mb40{margin-bottom:40px;}.mb48{margin-bottom:48px;}.mb50{margin-bottom:50px;}.mb56{margin-bottom:56px;}.mb60{margin-bottom:60px;}.mb64{margin-bottom:64px;}
.ml2{margin-left:2px;}.ml4{margin-left:4px;}.ml6{margin-left:6px;}.ml8{margin-left:8px;}.ml10{margin-left:10px;}.ml12{margin-left:12px;}.ml16{margin-left:16px;}.ml20{margin-left:20px;}.ml24{margin-left:24px;}.ml28{margin-left:28px;}.ml30{margin-left:30px;}.ml32{margin-left:32px;}.ml36{margin-left:36px;}.ml40{margin-left:40px;}.ml48{margin-left:48px;}.ml50{margin-left:50px;}.ml56{margin-left:56px;}.ml60{margin-left:60px;}.ml64{margin-left:64px;}