<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script src="./vue.js"></script>
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
    	
        <h3 class="big-title">添加任务：</h3>
        <input 
            placeholder="例如：吃饭睡觉打豆豆；    提示：回车即可添加任务" 
            class="task-input" 
            type="text"
            v-on:keyup.enter ="addTodo"
            v-model="todo"
        />
        <ul class="task-count" v-show="list.length">
            <li>{{ noCheckedLength }} 个任务未完成</li>
            <li class="action" >
                <a :class="{ active:visibility === 'all'}" href="#all">所有任务</a>
                <a href="#unfinished" :class="{ active:visibility === 'unfinished'}" >未完成的任务</a>
                <a href="#finished" :class="{ active:visibility === 'finished'}" >完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">

            <span class="no-task-tip" v-show="!list.length" >还没有添加任何任务</span>
            <ul class="todo-list">
                <li class="todo" :class="{completed:value.isChecked,editing:value === edtorTodos }"   v-for="value of filterList" >
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="value.isChecked" />
                        <label v-on:dblclick="edtorTodo(value)" >{{ value.title }}</label>
                        <button class="destroy" v-on:click="removeTodo(value)"  ></button>
                    </div>
                    <input 
                        class="edit" 
                        type="text"
                        v-model="value.title"
                        v-focus="value === edtorTodos"
                        v-on:blur= "changeTodo(value)"
                        @keyup.13="changeTodo(value)"
                        @keyup.esc="cancleTodo(value)"
                    />
                </li>
            </ul>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>